<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/layout::areas(~{::title},~{::main})}">
<head>
<meta charset="ISO-8859-1">
<title>Privacy Policy</title>
</head>
<body>
	<main>
		<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
			<div class="container">
				<h5>In the Privacy Policy, we explain how we collect, use,
					share, retain and transfer information. We also let you know your
					rights. Each section of the Policy includes helpful examples and
					simpler language to make our practices easier to understand. We've
					also added links to resources where you can learn more about the
					privacy topics that interest you. It's important to us that you
					know how to control your privacy, so we also show you where you can
					manage your information in the settings of the Meta Products you
					use. You can to shape your experience.</h5>
			</div>
		</nav>
	</main>
</body>
</html>