<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/layout/layout::areas(~{::title},~{::main})}">
<head>
<meta charset="utf-8">
<title>Product Management</title>
</head>
<body>
	<th:block th:fragment="main">
		<!-- Include AngularJS library -->
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.0.1/css/ngDialog.min.css">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.0.1/css/ngDialog-theme-default.min.css">
		<style>
.ngdialog-close {
	display: none;
}

.pagination {
	display: flex;
	justify-content: flex-end;
	margin-right: 10%;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.pagination .active {
	background-color: #5E72E4;
	color: white;
	border-radius: 5px;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
	border-radius: 5px;
}
</style>

		<div class="row" ng-app="app" ng-controller="controller">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<p class="text-uppercase text-sm text font-weight-bold">Product
							Management</p>
						<div class="row">
							<form class="row" id="form-product">
								<div class="col-md-6">
									<div class="form-group">
										<label for="example-text-input" class="form-control-label">Product
											name</label> <input class="form-control" type="text"
											ng-model="newProduct.name">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="example-text-input" class="form-control-label">Price</label>
										<input class="form-control" type="number"
											ng-model="newProduct.price">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label for="example-text-input" class="form-control-label">Category</label>
										<select class="form-select"
											aria-label="Default select example"
											ng-model="selectedCategory"
											ng-options="category as category.name for category in categories track by category.id"
											ng-change="handleSelectionCateChange(selectedCategory)">
										</select>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label for="example-text-input" class="form-control-label">Brand</label>
										<select class="form-select"
											aria-label="Default select example" ng-model="slectedBrand"
											ng-options="brand as brand.name for brand in brands track by brand.id"
											ng-change="handleSelectionBrandChange(slectedBrand)">
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="example-text-input" class="form-control-label">Quantity</label>
										<input class="form-control" type="number"
											ng-model="newProduct.quantity">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="example-text-input" class="form-control-label">Select
											Specification</label>
										<div class="dropdown">
											<button class="btn btn-primary btn-sm ms-auto w-100"
												type="button" ng-click="showModal()">Select
												Specification</button>
										</div>
									</div>
								</div>
								<div class="col-md-8">
									<div class="form-group">
										<label for="example-text-input" class="form-control-label">Specification</label>
										<div
											class="form-group d-flex flex-lg-row flex-wrap justify-content-end">
											<button ng-repeat="value in selectedLabels track by $index"
												type="button" class="btn btn-primary btn-sm"
												style="max-width: 100%" ng-click="removeValue($index)">{{value}}</button>
										</div>
									</div>
								</div>
<!-- 								<div class="col-md-2"> -->
<!-- 									<div class="form-group"> -->
<!-- 										<label for="example-text-input" class="form-control-label">Quick -->
<!-- 											Add Specification</label> -->
<!-- 										<button class="btn btn-second btn-sm ms-auto w-100" -->
<!-- 											type="button" id="testalert">Add</button> -->
<!-- 									</div> -->
<!-- 								</div> -->
								<div class="col-lg-2" style="height: 150px; max-height: 320px">
									<div class="form-group">
										<label for="example-text-input" class="form-control-label">Image</label>
										<input class="form-control" type="file"
											ng-file-model="imageFiles" accept="image/*" multiple>
									</div>
								</div>
								<div class="col-md-8 mb-2 d-flex justify-content-center"
									style="height: 150px; max-height: 320px">
									<div class="form-group">
										<img style="border: 1px solid #eee; border-radius: 5px"
											width="150" height="150" ng-repeat="url in imgUrls track by $index"
											ng-src="{{url}}" ng-dblclick="deleteImage(url)">
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label for="example-text-input" class="form-control-label">Upload
											Image</label>
										<button class="btn btn-success btn-sm ms-auto w-100"
											type="button" ng-click="uploadImages()">Upload</button>
									</div>
								</div>
								<div class="col-lg-12"
									style="max-height: 300px; overflow: auto;">
									<div id="editor"></div>
								</div>
								<hr class="horizontal dark">
								<div class="card-header pb-0">
									<div>
										<button class="btn btn-success btn-sm ms-auto"
											ng-click="createProduct()">Save</button>
										<button class="btn btn-primary btn-sm ms-auto"
											ng-click="updateProduct()">Update</button>
										<button class="btn btn-second btn-sm ms-auto"
											ng-click="reset()">Reset</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 mt-3">
				<div class="card mb-4">
					<div class="card-header pb-0">
						<h6>Authors table</h6>

					</div>
					<div class="card-body px-0 pt-0 pb-2 ">
						<div class="table-responsive p-0 o-auto"
							style="max-height: 400px;">
							<table class="table align-items-center mb-0">
								<thead>
									<tr>
										<th
											class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Product
											name</th>
										<th
											class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Category</th>
										<th
											class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Price</th>
										<th
											class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Quantity</th>
										<th
											class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Brand</th>
										<th
											class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
										<th class="text-secondary opacity-7"></th>
									</tr>
								</thead>
								<tbody>
									<tr dir-paginate="item in items|itemsPerPage:9">
										<td>
											<div class="d-flex" style="max-width: 170px;">
												<div ng-init="displayimg = item.image[0].url">
													<img src="{{displayimg}}" class="avatar avatar-sm me-3"
														alt="user1">
												</div>
												<div class="d-flex flex-column justify-content-center">
													<h6 class="mb-0 text-sm"
														style="overflow: hidden; max-width: 170px;">{{item.name}}</h6>
												</div>
											</div>
										</td>
										<td>
											<p class="text-xs font-weight-bold mb-0">{{item.category.name}}</p>
										</td>
										<td class="align-middle text-center"><span
											class="text-secondary text-xs font-weight-bold">{{item.price}}</span></td>
										<td class="align-middle text-center"><span
											class="text-secondary text-xs font-weight-bold">{{item.quantity}}</span>
										</td>
										<td class="align-middle text-center">
											<p class="text-xs font-weight-bold mb-0">{{item.producer.name}}</p>
										</td>
										<td class="align-middle text-center text-sm"><span
											class="badge badge-sm bg-gradient-success">{{item.status
												== true ? "In use":"Deleted"}}</span></td>
										<td class="align-middle"><a href="javascript:;"
											ng-click="edit(item.id)"
											class="text-success font-weight-bold text-xs"
											data-toggle="tooltip" data-original-title="Edit"> Edit </a></td>
										<td class="align-middle"><a href="javascript:;" ng-click="deleteProduct(item.id)"
											class="text-warning font-weight-bold text-xs"
											data-toggle="tooltip" data-original-title="Delete">
												Delete </a></td>
									</tr>
								</tbody>
							</table>
							<div class="mt-2">
								<dir-pagination-controls current-page="1" max-size="4"
									direction-links="true" boundary-links="true">
								</dir-pagination-controls>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- The Dialog Element -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="dialogTitle">List Brand</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body" style="max-height: 300px; overflow: auto">
							<div class="input-group mb-2">
								<input type="text" class="form-control" ng-model="searchInput"
									placeholder="Search">
							</div>
							<!-- Hiển thị các lựa chọn phù hợp với giá trị tìm kiếm -->
							<button class="dropdown-item" type="button"
								ng-repeat="choice in choices" ng-click="selectValue(choice)"
								ng-show="!searchInput || choice.keys.toLowerCase().includes(searchInput) && !choice.isSelected"
								style="border: 1px solid #eee; border-radius: 5px; margin-bottom: 7px">
								<span style="margin-left: 5px">{{ choice.keys }}:
									{{choice.value}}</span>
							</button>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								ng-click="hideModal()">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>


		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script src="/admin/lib/angular/angular.js"></script>
		<script src="/admin/lib/dirPagination.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.4.0/js/ngDialog.min.js"
			integrity="sha512-EL+CFcfNjlvcNNd+AnMmI1hPz7jj40lgBdnZJUkqnG8Zi3NNuZy++a6Njm+WVJLk5O/nC10MPWthuIsaBD/Kmw=="
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
		<script
			src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>
		<script src="/admin/assets/js/product.js"></script>

	</th:block>
</body>
</html>