<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layout/layout::areas(~{::title},~{::main})}">

<head>
	<meta charset="utf-8">
	<title>Product Management</title>
</head>

<body>
	<th:block th:fragment="main">
		<style>
			.pagination {
				display: flex;
				justify-content: flex-end;
				margin-right: 10%;
			}

			.pagination a {
				color: black;
				float: left;
				padding: 8px 16px;
				text-decoration: none;
			}

			.pagination .active {
				background-color: #5E72E4;
				color: white;
				border-radius: 5px;
			}

			.pagination a:hover:not(.active) {
				background-color: #ddd;
				border-radius: 5px;
			}
		</style>
		<div class="row" ng-app="app" ng-controller="ctrl">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<p class="text-uppercase text-sm text font-weight-bold">User
							Management</p>
						<div class="row">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="example-text-input" class="form-control-label">Email
										</label> <input class="form-control" type="text"
											ng-model="newUser.email"  ng-change="emailCheck()">
<!--											ng-model="inputValue" ng-change="emailCheck()"-->
<!--											class="form-control" th:field="*{email}"-->
													<div ng-bind="errorEmail" ng-class="colorEmail"></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="example-text-input" class="form-control-label">Name</label>
										<input class="form-control" type="text" ng-model="newUser.name">

									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="example-text-input" class="form-control-label">Phone</label>
										<input class="form-control" type="text" ng-model="newUser.phone" ng-change="phoneCheck()">
	<div ng-bind="errorPhone" ng-class="colorPhone"></div>
									</div>
								</div>
										
							
		
						
								<div class="col-md-6">
									<div class="form-group">
										<label for="example-text-input" class="form-control-label">Role</label>
										<div class="form-check">
											<input class="form-check-input" type="checkbox" id="roleCheckbox"
												ng-model="newUser.role">
											<label class="form-check-label" for="roleCheckbox">
												Admin
											</label>
										</div>
									</div>
							
					


								</div>
							</div>


							<div class="col-md-7 pb-0">
					
									<button class="btn btn-primary btn-sm" ng-click="update(newUser.id) "
										ng-disabled="validateUpdate">Update</button>
									<button class="btn btn-primary btn-sm" ng-click="reset()">Reset</button>
										
							</div>

							</form>
							
							<div class="col-md-6">
								<div class="form-group">
									<label for="example-text-input" class="form-control-label">Search by Email</label>
									<input class="form-control" type="text" ng-model="searchByKeys" ng-change="key()">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 mt-3">
				<div class="card mb-4">
					<div class="card-header pb-0">
						<h6>Authors table</h6>
						<button ng-click="prevPage()" class="btn btn-success btn-sm ms-auto">Previous Page</button>
						<button ng-click="nextPage()" class="btn btn-success btn-sm ms-auto">Next Page</button>
						<label> {{currentPage + 1}}</label>
					</div>
					<div class="card-body px-0 pt-0 pb-2 ">
						<div class="table-responsive p-0 o-auto" style="max-height: 400px;">
							<table class="table align-items-center mb-0">
								<thead>
									<tr>

										<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
											style="width: 10%;">
											id</th>
										<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
											style="width: 20%;">
											email</th>
										<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
											style="width: 15%;">
											name</th>
										<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
											style="width: 15%;">
											phone</th>
										<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
											style="width: 10%;">
											admin</th>
								
											<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
											style="width: 20%;">
											datecraeted</th>

										<th
											class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
											Delete/Edit</th>
									</tr>
								</thead>
								<tbody>


									<tr ng-repeat="user in users">
										<td
											class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">
											{{user.id}}</td>
										<td
											class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">
											{{user.email}}</td>
										<td
											class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">
											{{user.name}}</td>
										<td
											class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">
											{{user.phone}}</td>
										<td
											class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">
											{{user.role}}</td>
							
											<td
											class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">
											{{user.date}}</td>
										<td>
											<button class="btn btn-primary btn-sm"
												ng-click="editUser(user)">Edit</button>
											<button class="btn btn-danger btn-sm"
												ng-click="delete(user)">Delete</button>
										</td>
										</td>
									</tr>
								</tbody>
							</table>


						</div>
					</div>
				</div>

			</div>

			<!-- The Dialog Element -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="dialogTitle">List Brand</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body" style="max-height: 300px; overflow: auto">
							<div class="input-group mb-2">
								<input type="text" class="form-control" ng-model="searchInput" placeholder="Search">
							</div>
							<!-- Hiển thị các lựa chọn phù hợp với giá trị tìm kiếm -->

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" ng-click="hideModal()">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>


		<script src="/admin/lib/angular/angular.js"></script>

		</script>
		<script src="../../assets/js/userrest.js"></script>
	</th:block>
</body>

</html>