<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<footer class="footer pt-3" th:fragment="footer">
		<div class="container-fluid">
			<div class="row align-items-center justify-content-lg-between">
				<div class="col-lg-6 mb-lg-0 mb-4">
					<div class="copyright text-center text-sm text-muted text-lg-start">
						©
						<script>
                  document.write(new Date().getFullYear())
                </script>
						, made with <i class="fa fa-heart"></i> by <a
							 class="font-weight-bold"
							target="_blank">Creative Tim</a> for a better web.
					</div>
				</div>
				
			</div>
		</div>
	</footer>
</body>
</html>